* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Roboto Slab Thin', arial;
  line-height: 1.6;
}
.container {
  width: 80%;
  margin: auto;
}

/* HJÄLPKLASSER */
.m-1 { margin: 1rem; }
.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 1.5rem; }
.mt-2 { margin-top: 1.5rem; }
.blue { color: var(--primary-color); }

/* TOP-NAV START */
.top-nav {
  border-bottom: 1px solid #70707059;
  padding: .6rem;
  display: none;
}
.top-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hours {
  display: flex;
  align-items: center;
  color: var(--grey);
  font-size: .8rem;
}
.hours i {
  margin-right: .5rem;
  color: var(--primary-color);
}
.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}
.social-icons i {
  cursor: pointer;
  list-style:  none;
  color: var(--primary-color); 
}
.social-icons i:hover {
  color: var(--secondary-color);
}
/* TOP-NAV END */

/* NAVBAR START */
.logotype {
  height: 3.5rem;
}

.navbar {
  padding: .5rem 0 0 0;
  display: flex;
  justify-content: center;
  position: sticky;
  background-color: #fff;
  box-shadow: 2px 3px 3px rgb(194, 193, 193);
  top: 0;
  z-index: 999;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  display: none;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: var(--darkgrey);
}

.navbar-nav li {
  margin-left: 2rem;
  list-style: none;
}

.navbar-toggler {
  outline: none;
  border: none;
  color: var(--primary-color);
  background-color: transparent;
  font-size: 1.5rem;
}



/* START SECTION-1 */

.section-1 .container {
  text-align: center;
}

.placeholder {
  display: none;
}
.bg-color {
  background-color: #DEDEDE;
  padding: 2.5rem;
}
.section-1 .text h1 {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.2;
  color: var(--darkgrey);
}
.section-1 .text p {
  font-size: .8rem;
  color: var(--grey);
  margin-top: 1rem;
}
.btn {
  outline: none;
  border: 1px solid transparent;
  padding: .7rem 4rem;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  width: auto;
  display: inline-block;
  font-size: .8rem;
  }

.btn-primary {
  color: #fff;
  background-color: var(--secondary-color);
}
.btn-primary:hover{
  background-color: var(--primary-color);
} 

/* END SECTION-1 */

/* START SECTION-2 */

.span-d-block {
  display: block;
}

.section-2 .container {
  padding: 2rem 0 0 0;
  text-align: center;
}
 .section-2 .text {
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.3;
  color: var(--darkgrey);
} 
.section-2 .container p {
  font-size: .8rem;
  color: var(--grey);
}
.numbers {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 1rem;
}
.numbers h3 {
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--primary-color);
}

/* SECTION-2 END */






/* SECTION-3 START */
hr {
  margin: 1rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary-color);
  height: .2rem;
  outline: none;
  border: 0 none;
}

.section-3 {
  padding: 5rem;
  background-color: #F7F7F7;
}
.section-3 h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
}
.services hr {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.service-cards {
  display: grid;
  gap: 1.5rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
}
.card {
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.card:hover .circle {
  background-color: var(--primary-color);
  box-shadow: 0px 0px 3px 10px #D4EEFB;
}
.card:hover {
  box-shadow: 3px 3px 10px 5px #33333334;
  transition-delay: .3s;
}

.circle {
  background-color: var(--secondary-color);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-body {
  text-align: center;
}
.card-body h3 {
  font-size: 1.2rem;
  font-weight: normal;
  color: var(--darkgrey);
  margin-bottom: 1rem;
}
.card-body p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  font-size: .8rem;
  padding-bottom: 3rem;
  color: var(--grey);
}


.appointment {
  background-color: #2BAAEC;
  color: #fff;
}
.appointment .container {
  text-align: center;
  padding: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.247);
}
.booking h4 {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: normal;
}
.btn-secondary {
  background-color: #fff;
  color: var(--primary-color);
  font-size: .9rem;
  padding: 1rem 2rem;
}
.btn-secondary:hover {
  background-color: var(--primary-color);
  color: #fff;
  border: 1px solid #fff;
  transition: ease-in-out .2s;
}
#big {
  display: none;
}

footer {
  background-color: #2BAAEC;
  padding: 1rem;
  color: white;
}
footer .container {
 text-align: center;
}
.hours-phone p {
  font-size: .8rem;
  margin-bottom: 1.3rem;
}
.hours-phone i {
  font-size: 1.2rem;
}

.social-icons-phone i {
  padding: 1.2rem;
  margin-bottom: 1rem;
  color: #fff;
}
.social-icons-phone i:hover {
  color: var(--secondary-color);
}

#copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
#copyright p {
  margin-left: .4rem;
  font-weight: normal;
  font-size: .6rem;
  letter-spacing: ;
}
#copyright i {
  font-size: .6rem;
}
/* GÖR OM MEDIA QUERIES */




/* MEDIA QUERIES */



@media (min-width: 600px){
  .container {
    max-width: 575px;
  }
  }


  @media (min-width: 768px) {
    .container {
      width: 100%;
      max-width: 740px;
    }
    .navbar-toggler {
      display: none;
    }
    .logotype {
      margin: auto;
      height: 4rem;
    }
    .navbar {
      position: relative;
      box-shadow: none
    }
    .navbar-nav {
      display: flex;
    }
    .navbar-nav a {
      font-size: 1rem;
      margin: auto;
    }

    /* SECTION-1 START */
    .placeholder {
      display: block;
      padding-top: 1.5rem;
      width: 100%;
    }  
    .bg-color {
     padding: 0;
    }
    .section-1 .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .section-1 .text {
      padding-left: 3rem;
    }
    .section-1 .text h1 {
      font-size: 2rem;
    }
    .section-1 .text p {
      font-size: .8rem;
    }
    .text .btn {
      padding: 1rem 2rem;
      width: 50%;
      font-size: .8rem;
    }
 
    #big {
      display: block;
    }
    .booking h4 {
      margin: 0;
      font-size: 1.2rem;
    }
    .booking {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .booking .btn {
      padding: 1rem 1.5rem;
      font-size: .8rem;
    }
    /* SECTION-1 END */



    /*  SECTION-2 START */
    hr {
      width: 100%;
      margin-left: 0;
      margin-right: auto;
    }
    .section-2 {
      display: flex;
    }
    .section-2 .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .content {
      width: 100%;
      text-align: start;
      margin-right: 4rem;
    }
    .section-2 .container h2 {
      font-size: 1.5rem;
    }
    .section-2 .container p {
      font-size: .8rem;
    }
    .numbers {
      margin-left: 0;
    }
    .numbers h3 {
      font-size: 1.5rem;
    }
    #phone {
      display: none;
    }
  }

  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
    .navbar-nav a {
      font-size: 1rem;
    }  
    .navbar-nav li {
      margin-left: 3rem;
    }
    .top-nav {
      display: block;
    }

    .section-1 .container {
      text-align: start;
    }
    .section-1 .text {
      padding-left: 5rem;
    }
  
    .section-1 .text h1 {
      font-size: 2.5rem;
    }
    .text .btn {
      font-weight: bold;
      font-size: .8rem;
      width: 35%;
      padding: 1rem 1rem;
      margin-left: 0;
    }
    .content {
      width: 50%;
    }
    hr {
      width: 100%;
      margin-left: 0;
      margin-right: auto;
    }
    .numbers {
      margin-right: 3rem;
    }
    .section-2 img {
      padding-top: 0;
      width: 70%;
    }
    .booking h4 {
      margin: 0;
      font-size: 1.5rem;
    }
    .booking .btn {
      font-size: .9rem;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
    .section-1 .container h1 {
      font-size: 3rem;
    }
    .section-1 .container p {
      font-size: .9rem;
    }
    .section-2 .container h2 {
      font-size: 1.8rem;
    }
    .section-2 .container p {
      font-size: .9rem;
    }
    .placeholder {
      width: 500px;
    }
    .section-2 img {
      width: 400px;
    }
    .section-1 .container .text {
      padding-left: 6rem;
    }
    .numbers {
      margin-right: 7rem;
    }

  }
  
 
















