* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Roboto Slab Thin', arial;
  line-height: 1.6;
}
.container {
  width: 100%;
  margin: auto;
}
.m-1 { margin: 1rem; }
.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 1.5rem; }
.mt-2 { margin-top: 1.5rem; }


/* TOP-NAV START */
.top-nav {
  border-bottom: 1px solid #70707059;
  padding: .6rem;
  display: none;
}
.top-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hours {
  display: flex;
  align-items: center;
  color: var(--grey);
  font-size: .8rem;
}
.hours i {
  margin-right: .5rem;
  color: var(--primary-color);
}
.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}
.social-icons i {
  cursor: pointer;
  list-style:  none;
  color: var(--primary-color); 
}
.social-icons i:hover {
  color: var(--secondary-color);
}
/* TOP-NAV END */

/* NAVBAR START */
.navbar {
  padding: .5rem 0 0 0;
  display: flex;
  justify-content: center;
}
.logotype {
  height: 4rem;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-toggler {
  outline: none;
  border: none;
  color: var(--primary-color);
  background-color: transparent;
  font-size: 1.8rem;
}

.navbar-nav {
  display: none;
  justify-content: column;
  align-items: center;
}
.navbar a {
  text-decoration: none;
  color: var(--darkgrey);
}
.navbar-nav li {
  margin-left: 3rem;
  list-style: none;
}


/* START SECTION-1 */


.section-1 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.placeholder {
  display: none;
  padding-top: 1.5rem;
  width: 100%;
}
.container .text {
  text-align: center;
}
.text h1 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.2;
  /* line-height: 3.5rem; ändra på mediaqueries*/ 
  color: var(--darkgrey);
  padding-bottom: 1rem;
}
.bg-color {
  background-color: #DEDEDE;
  padding: 2rem;
  /* display:none; på media queries */
}

.text p {
  color: var(--grey);
}

.text .btn {
  outline: none;
  border: 1px solid transparent;
  padding: 1rem 1rem;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  width: 80%;
  display: inline-block;
  font-size: 1rem;
}
 .btn-primary {
  color: #fff;
  background-color: var(--secondary-color);
}
.btn-primary:hover{
  background-color: var(--primary-color);
} 

/* END SECTION-1 */

/* START SECTION-2 */

.span-d-block {
  display: inline-block;
}

.section-2 .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0 0 0;
  text-align: center;
}
 .section-2 .container .text {

  font-weight: normal;
  font-size: 1.7rem;
  line-height: 1.3;
  color: var(--darkgrey);
} 
.section-2 .container p {
  color: var(--grey);
}


.numbers {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.numbers h3 {
  font-weight: 500;
  font-size: 2rem;
  color: var(--primary-color);
}
.blue {
  color: var(--primary-color);
}
hr {
  margin: 1rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary-color);
  height: .2rem;
  outline: none;
  border: 0 none;
}

.section-3 {
  padding: 5rem;
  background-color: #F7F7F7;
}
.section-3 h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: normal;
}
/* .services hr {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
} */
/* .cards {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  

}
.card {
  border-radius: 10px;
  border: 1px solid black;
  width: 450px;
  height: 450px;
  background-color: white;
  box-shadow: 3px 3px 10px 0 #33333334;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circle {
  background-color: var(--secondary-color);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;

  
}
.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-body {
  text-align: center;
} */
























@media (min-width: 476px){
.container {
  max-width: 460px;
}

}
@media (min-width: 600px){
.container {
  max-width: 575px;
}

}


@media (min-width: 768px) {
  .container {
    max-width: 740px;
  }
  .navbar-toggler {
    display: none;
  }
  .navbar-nav {
    display: flex;
  }
  .placeholder {
    display: block;
  }  
  .bg-color {
   padding: 0;
  }
  .container .text {
    text-align: center;
    align-items: center;
  }
  .text h1 {
    font-size: 2.3rem;
    padding-bottom: 1rem;
  }
  .text {
    margin-left: 2rem;
  }
  .text .btn {
    width: 60%;
  }

  .section-2 .container {
    text-align: start;
  }
  .section-2 .container h2 {
    text-align: start;
    /* HUR SKA JAG FÅ TEXTEN TILL VÄNSTER? */

  }

   .section-2 .container .text {
    
    font-weight: normal;
    font-size: 2rem;
    line-height: 1.3;
    color: var(--darkgrey);
  } 
  .section-2 .container p {
    color: var(--grey);
  }
  
  
  .numbers {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    width: 90%;
  }
  
  .numbers h3 {
    font-weight: 500;
    font-size: 2rem;
    color: var(--primary-color);
  }
  .blue {
    color: var(--primary-color);
  }
  hr {
    margin: 1rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondary-color);
    height: .2rem;
    outline: none;
    border: 0 none;
  }
}



@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .top-nav {
    display: block;
  }
  .container .text {
    text-align: start;
    align-items: center;
  }
  .text h1 {
    font-size: 3.1rem;
    padding-bottom: 1rem;
  }
  .text {
    margin-left: 5rem;
  }
  .text .btn {
    width: 40%;
  }
}


@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}







/* .section-1 {
  background-image: url('/DentialClinic/img/placeholder.dam.svg');
  background-repeat: no-repeat;
  background-size: 19rem;
  background-position: center;
  /* background-blend-mode: overlay; */